
<style>
  #api-clients .client-list {
    display: inline-block;
    margin: 10px 15px;
  }


  #api-clients p span.small {
    font-weight: 500;
    text-align: center;
    top: 7px;
    position: relative;
    font-size: .8em;
  }
</style>

<!-- API Clients -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="center color-blue">API Clients</h2>
    </div>
  </div>
  <div id="api-clients" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="panel bg-color-lightGray">
        <div class="panel-body">
            <div class="row center">
              <div class="client-list">
                <p class="center">
                  <a href="/clients/dotnet">
                    <img src="/assets/img/dotnet.png" style="width: 50px;"> <br />
                    <span class="small">.NET</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/nodejs">
                    <img src="/assets/img/nodejs.png" style="width: 50px;"> <br />
                    <span class="small">node.js</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/python">
                    <img src="/assets/img/python.png" style="width: 50px;"> <br />
                    <span class="small">Python</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/ruby">
                    <img src="/assets/img/ruby.png" style="width: 50px;"> <br />
                    <span class="small">Ruby</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/java">
                    <img src="/assets/img/java.png" style="width: 50px;"> <br />
                    <span class="small">Java</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/scala">
                    <img src="/assets/img/scala.png" style="width: 50px;"> <br />
                    <span class="small">Scala</span>
                  </a>
                </p>
              </div>
              <div class="client-list">
                <p class="center">
                  <a href="/clients/powershell">
                    <img src="/assets/img/powershell.png" style="width: 50px;"> <br />
                    <span class="small">PowerShell</span>
                  </a>
                </p>
              </div>            
            </div>
        </div>
      </div>
    </div>
  </div>