   <div class="footer-nav">
        <div class="footer-nav-top"><img src="https://apimgmtstfgcbs4expsd9y4r.blob.core.windows.net/content/MediaLibrary/Test/footer-nav-top.png" class="responsive"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>About Us</h4>
                    <ul class="footer-nav">
                        <li><a href="https://www.nexosis.com/company/about">Who we are</a></li>
                        <li><a href="https://www.nexosis.com/company/careers">Careers</a></li>
                        <li class=""><a href="https://content.nexosis.com/resources">Resource Library</a></li>
                        <li class=""><a href="https://content.nexosis.com/partnerships">Partners</a></li>
                        <li class=""><a href="https://content.nexosis.com/press">Press</a></li>
                        <li><a href="https://www.nexosis.com/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>Developer</h4>
                    <ul class="footer-nav">
                        <li><a href="http://docs.nexosis.com">Documentation</a></li>
                        <li><a href="http://docs.nexosis.com/guides/quick-start-guides">Quickstart</a></li>
                        <li><a href="http://docs.nexosis.com/guides">Guides</a></li>
                        <li><a href="http://docs.nexosis.com/tutorials">Tutorials</a></li>
                        <li><a href="http://docs.nexosis.com/clients">API Clients</a></li>
                        <li><a href="https://developers.nexosis.com/docs/services/98847a3fbbe64f73aa959d3cededb3af">API Reference</a></li>
                        <li><a href="https://content.nexosis.com/release-notes">Release Notes</a></li>
                        <li><a href="https://support.nexosis.com" target="_blank">Help</a></li>
                        <li><a href="https://community.nexosis.com" target="_blank">Community</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Stay in touch</h4>
                    <ul class="footer-nav social">
                        <li><a href="https://nexosis.com/contact" target="_blank"><i class="fa fa-envelope fa-lg"></i></a></li>
                        <li><a href="https://twitter.com/nexosis" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/9479559" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        <li><a href="https://www.facebook.com/nexosis/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="https://www.slideshare.net/nexosis/" target="_blank"><i class="fa fa-slideshare fa-lg"></i></a></li>
                        <li><a href="https://github.com/nexosis/" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Newsletter</h4>
                    <div class="hs-footer">
                        <!--[if lte IE 8]>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                        <![endif]-->
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                        hbspt.forms.create({ 
                            css: '',
                            portalId: '2307117',
                            formId: '5a6dab94-7f9c-4d50-a5d0-9541632e1d84'
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="footer-nav">
                        <li class="small"><a href="https://www.nexosis.com/company/privacy">Privacy Policy</a></li>
                        <li class="small"><a href="https://developers.nexosis.com/terms-of-use">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="copyright text-right">
                        <p>©2017 Nexosis</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function()
    {n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}
    ;if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1749656822031320'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1749656822031320&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- LinkedIn Pixel Code -->
    <script type="text/javascript"> _linkedin_data_partner_id = "63255"; </script>
    <script type="text/javascript"> 
        (function() {var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=63255&fmt=gif" /> </noscript>
    <!-- End LinkedIn Pixel Code -->

    <!-- Twitter universal website tag code -->
    <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nyf37');
    twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->