<style>
    /* ------- New Header Layout ------- */

    header#topnav .collapse.navbar-collapse ul.navbar-nav, #topnav .collapse.navbar-collapse ul.navbar-nav {padding: 5px 0;}
    
    #topnav .nav li.search {
        position: relative;
        top: 3px;
        display: inline-block;
    }
    form.search input {
        padding: 5px 7px;
        border: 1px solid #afb0b4 !important;
        border-radius: 5px;
    }
    form.search span.input-group-addon {color: #afb0b4;}
    
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: none;
    }
</style>

<div class="layout-row">
    <div class="zone-header layout">
        <!-- Start Header Section -->
        <header id="topnav">
            <nav class="nav navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars fa-lg"></i>
                        </button>
                        <a href="http://docs.nexosis.com" class="navbar-brand">
                            <img src="http://nexosis.com/assets/img/logo-horizontal.png" alt="" height="50%">
                            <div class="badge badge-info badge-logo">DOCS</div>
                        </a>
                    </div>
                    <!-- Toggle Elements -->
                    <div id="topnav-collapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/guides">Guides</a></li>
                            <li><a href="/tutorials">Tutorials</a></li>
                            <li><a href="/clients">API Clients</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">APIs <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://developers.nexosis.com/docs/services/98847a3fbbe64f73aa959d3cededb3af/">API Reference</a></li>
                                    <li><a href="https://developers.nexosis.com/applications">Applications</a></li>
                                    <li><a href="https://developers.nexosis.com/products">Products</a></li>
                                </ul>
                            </li>
                            <li><a href="https://support.nexosis.com" target="_blank">Help</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right mr10" role="navigation" aria-label="Account menu">
                            <li class="search">
                                <form action="/search" class="form-inline search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                        <input class="form-control input-sm" name="q" type="text" placeholder="Search" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required="">
                                    </div>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Account <b class="caret"></b></a>
                                <ul class="dropdown-menu">                    
                                <li><a href="https://account.nexosis.com/apiaccount/accountstatus">Overview</a></li>
                                <li><a href="https://account.nexosis.com/apiAccount/referAFriend">Refer a friend</a></li>
                                <li><a href="https://developers.nexosis.com/developer">API Key</a></li>
                                <li><a href="https://developers.nexosis.com/admin">Manage</a></li>
                                <li><a href="https://developers.nexosis.com/developer">Profile</a></li>
                                <li><a href="https://developers.nexosis.com/signout">Sign Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation"><a href="https://developers.nexosis.com/developer" role="menuitem">View Profile</a></li>
                            <li class="cta signup mr10" style="top:2px;">
                                <!--HubSpot Sign Up Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-b497fae0-7702-452a-a603-711153bf477f"><span class="hs-cta-node hs-cta-b497fae0-7702-452a-a603-711153bf477f" id="hs-cta-b497fae0-7702-452a-a603-711153bf477f"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2307117/b497fae0-7702-452a-a603-711153bf477f" ><img class="hs-cta-img" id="hs-cta-img-b497fae0-7702-452a-a603-711153bf477f" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2307117/b497fae0-7702-452a-a603-711153bf477f.png"  alt="Sign up"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2307117, 'b497fae0-7702-452a-a603-711153bf477f', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <!-- End Header Section -->
    </div>
</div>