<div class="layout-row">
    <div class="zone-header layout">
        <!-- Start Header Section -->
        <header id="topnav">
            <nav class="main-navigation navbar-fixed-top affix-top" role="navigation" data-spy="affix" data-offset-top="200">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-lg"></i>
                    </button>
                    <a href="http://www.nexosis.com" class="navbar-brand"><img src="http://nexosis.com/assets/img/logo-horizontal.png" alt="" height="50%"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://nexosis.com/Home/Solutions">Solutions</a></li>
                            <li><a href="http://nexosis.com/Home/Features">Features</a></li>
                            <li><a href="http://nexosis.com/Home/Pricing">Pricing</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/guides">Guides</a></li>
                                    <li><a href="/tutorials">Tutorials</a></li>
                                    <li><a href="/clients">API Clients</a></li>
                                    <li><a href="https://developers.nexosis.com/docs/services/98847a3fbbe64f73aa959d3cededb3af/">API Reference</a></li>
                                </ul>
                            </li>
                            <li><a href="http://content.nexosis.com/blog">Blog</a></li>
                            <li><a href="https://support.nexosis.com" target="_blank">Help</a></li>
                            <li>
                                <!-- HubSpot Dev Portal Sign Up Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-9132d83e-ed31-439a-a3ca-cb8bae336dee"><span class="hs-cta-node hs-cta-9132d83e-ed31-439a-a3ca-cb8bae336dee" id="hs-cta-9132d83e-ed31-439a-a3ca-cb8bae336dee"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2307117/9132d83e-ed31-439a-a3ca-cb8bae336dee" ><img class="hs-cta-img" id="hs-cta-img-9132d83e-ed31-439a-a3ca-cb8bae336dee" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2307117/9132d83e-ed31-439a-a3ca-cb8bae336dee.png"  alt="Sign up now"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2307117, '9132d83e-ed31-439a-a3ca-cb8bae336dee', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <!-- End Header Section -->
    </div>
</div>
<div class="zone-navigation layout-row">
  <div class="layout">
    <!-- DOCS NAV / SEARCH -->
    {% include docs-nav.html %}
  </div>
</div>