{% if page.exclude_navbreadcrumb != true %}

{% if page.collection == "clients" %}
  {% case page.category %}
    {% when ".NET" %}
      {% assign category = "dotnet" %}
    {% when "PowerShell" %}
      {% assign category = "powershell" %}
    {% when "Postman" %}
      {% assign category = "postman" %}
    {% when "Node.js" %}
      {% assign category = "nodejs" %}
    {% when "Python" %}
      {% assign category = "python" %}
    {% when "Ruby" %}
      {% assign category = "ruby" %}
    {% when "Java" %}
      {% assign category = "java" %}
    {% when "Scala" %}
      {% assign category = "scala" %}
    {% when "Javascript" %}
      {% assign category = "javascript" %}
    {% when "curl" %}
      {% assign category = "curl" %}
    {% when "php" %}
      {% assign category = "php" %}
    {% when "ObjC" %}
      {% assign category = "objc" %}
  {% endcase %}
{% endif %}


{% capture url %} {{ page.url | remove: "/" }} {% endcapture %}
<div id="{% if page.collection == "clients" %}api-client{% endif %}" class="{% if page.collection == "clients" %}{{ category }}{% endif %}" >
  {% if page.collection == "clients" %}
    <img src="/assets/img/{{ category }}.png" class="api-client">
  {% endif %}
  <p class="breadcrumb">    
    {% case page.collection %}
      {% when "guides" %}
        <span><a href="/guides">Guides</i></a></span>
      {% when "tutorials" %}
          <span><a href="/tutorials">Tutorials</i></a></span>
      {% when "clients" %}
          <span><a href="/clients">API Clients</i></a></span>
    {% endcase %}

    {% if page.title != "API Clients" and page.title != "Guides" and page.title != "Tutorials" %}
    <i class="fa fa-angle-right" style="margin: 0 5px;"></i>
    
    <span>
      <a href="/category#{{ page.category | slugify }}">{{ page.category }}</a>
    </span>
    {% endif %}

    {% if page.subcategory != " " %}
    <i class="fa fa-angle-right" style="margin: 0 5px;"></i>
    
    <span>
      <a href="/category#{{ page.category | slugify }}">{{ page.subcategory }}</a>
    </span>
    {% endif %}

  </p>
{% endif %}

  <h1>{{ page.title }}</h1>
  {% include tag-category-footer.html %}
</div>
<hr />