{% if page.exclude_navfooter != true %}
  {% if page.title != "Overview" and page.title != "Content by Category" and page.title != "Content by Tag" and page.title != "Search Results" and page.title != "API Clients" %}
  <div class="panel">
    <div class="panel-body">
      <p class="p0 m0 small">
        <i class="fa fa-tags color-mediumGray mr5"></i>
        {% for tag in page.tags %}
          {% if tag != "Quick Links" and tag != "Favorite" %}
            <a href="/tags#{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  {% endif %}
{% endif %}