
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <title>
       Nexosis | {{ page.title }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,500,600,200,100,700,800,900" rel="stylesheet" type="text/css" />
    <link href="https://www.nexosis.com/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://www.nexosis.com/assets/css/plugins.css" rel="stylesheet" />
    <link href="https://www.nexosis.com/assets/css/dynamic/icons.css" rel="stylesheet" />
    <link href="https://www.nexosis.com/assets/css/dynamic/main.css" rel="stylesheet" />
    <link href="https://www.nexosis.com/assets/css/dynamic/custom.css" rel="stylesheet" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.nexosis.com/assets/img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.nexosis.com/assets/img/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.nexosis.com/assets/img/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.nexosis.com/assets/img/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="icon" href="/favicon.ico" type="image/png" />

    <style>img#logo {width: 210px; margin: 10px;}</style>

    <meta name="msapplication-TileColor" content="#3399cc" />

</head>
<body class="error-page">
    <div class="container error-container">
        <div class="error-panel panel panel-default plain animated bounceIn">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <img id="logo" src="https://www.nexosis.com/assets/img/logo-horizontal.png" alt="Nexosis logo">
                </h4>
            </div>
            <div class="panel-body">
               {{ content }}
            </div>
        </div>
    </div>
    <script src="https://www.nexosis.com/assets/js/jquery-min.js"></script>
    <script src="https://www.nexosis.com/assets/js/jquery.mixitup.js"></script>
    <script src="https://www.nexosis.com/assets/js/bootstrap.min.js"></script>
    <script src="https://www.nexosis.com/assets/js/wow.js"></script>
    <script src="https://www.nexosis.com/assets/js/owl.carousel.js"></script>
    <script src="https://www.nexosis.com/assets//js/modernizr-2.8.0.main.js"></script>
    <script src="https://www.nexosis.com/assets/js/respond.min.js"></script>
    <script src="https://www.nexosis.com/assets/js/main.js"></script>
</body>
</html> 